In [1]:
# to-to:

In [2]:
# import custom libraries
import sys
if "." not in sys.path:
    sys.path.append(".")
from file_read_write import FileReadWrite

# get 2015 GOES events as df
directory_path = "/Users/aishsk6/My Drive/ML_project/2015_events"
df = FileReadWrite.get_goes_events_df_for_interval(directory_path, "20150101", "20151231")
df

,Event,Obs,Q,Type,Loc/Freq,Particulars_a,begin_datetime,max_datetime,end_datetime
0,3690,LEA,3,FLA,S08E54,SF,2015-01-01 01:38:00,2015-01-01 01:39:00,2015-01-01 01:41:00
1,3700,LEA,3,FLA,S08E54,SF,2015-01-01 02:25:00,2015-01-01 02:27:00,2015-01-01 02:29:00
2,3710,LEA,3,FLA,S08E54,SF,2015-01-01 03:16:00,2015-01-01 03:16:00,2015-01-01 03:20:00
3,3720,LEA,3,FLA,S08E54,SF,2015-01-01 03:40:00,2015-01-01 03:41:00,2015-01-01 03:44:00
4,3730,LEA,C,RSP,109-171,CTM/1,2015-01-01 03:51:00,NaT,2015-01-01 04:17:00
...,...,...,...,...,...,...,...,...,...
9409,9930,LEA,1,FLA,N08E57,SF,NaT,NaT,NaT
9410,9940,HOL,2,DSF,N17W24,4,NaT,NaT,NaT
9411,9980,LEA,2,EPL,////,0.26,NaT,NaT,NaT
9412,9980,SVI,3,FLA,S23W52,1F,NaT,NaT,NaT
9413,9990,LEA,1,FLA,S12W20,SF,NaT,NaT,NaT

In [3]:
# create a new column where all Particulars_a that begin with M and X are 1, else 0
df["is_big_flare"] = df["Particulars_a"].str.startswith("M") | df["Particulars_a"].str.startswith("X")
df["is_big_flare"] = df["is_big_flare"].astype(int)
df

,Event,Obs,Q,Type,Loc/Freq,Particulars_a,begin_datetime,max_datetime,end_datetime,is_big_flare
0,3690,LEA,3,FLA,S08E54,SF,2015-01-01 01:38:00,2015-01-01 01:39:00,2015-01-01 01:41:00,0
1,3700,LEA,3,FLA,S08E54,SF,2015-01-01 02:25:00,2015-01-01 02:27:00,2015-01-01 02:29:00,0
2,3710,LEA,3,FLA,S08E54,SF,2015-01-01 03:16:00,2015-01-01 03:16:00,2015-01-01 03:20:00,0
3,3720,LEA,3,FLA,S08E54,SF,2015-01-01 03:40:00,2015-01-01 03:41:00,2015-01-01 03:44:00,0
4,3730,LEA,C,RSP,109-171,CTM/1,2015-01-01 03:51:00,NaT,2015-01-01 04:17:00,0
...,...,...,...,...,...,...,...,...,...,...
9409,9930,LEA,1,FLA,N08E57,SF,NaT,NaT,NaT,0
9410,9940,HOL,2,DSF,N17W24,4,NaT,NaT,NaT,0
9411,9980,LEA,2,EPL,////,0.26,NaT,NaT,NaT,0
9412,9980,SVI,3,FLA,S23W52,1F,NaT,NaT,NaT,0
9413,9990,LEA,1,FLA,S12W20,SF,NaT,NaT,NaT,0

In [4]:
df['is_big_flare'].value_counts()

is_big_flare
0    9287
1     127
Name: count, dtype: int64