In [ ]:
# to-to:

In [1]:
# import custom libraries
import sys
if "." not in sys.path:
    sys.path.append(".")
from file_read_write import FileReadWrite

# get 2015 GOES events as df
directory_path = "/Users/aishwarya/Library/CloudStorage/GoogleDrive-aishsk6@vt.edu/My Drive/ML_project/2015/2015_events/"
df = FileReadWrite.get_goes_events_df_for_interval(directory_path, "20150101", "20151231")
df

,Event,Obs,Q,Type,Loc/Freq,Particulars_a,begin_datetime,max_datetime,end_datetime
0,3690,LEA,3,FLA,S08E54,SF,2015-01-01 01:38:00,2015-01-01 01:39:00,2015-01-01 01:41:00
1,3700,LEA,3,FLA,S08E54,SF,2015-01-01 02:25:00,2015-01-01 02:27:00,2015-01-01 02:29:00
2,3710,LEA,3,FLA,S08E54,SF,2015-01-01 03:16:00,2015-01-01 03:16:00,2015-01-01 03:20:00
3,3720,LEA,3,FLA,S08E54,SF,2015-01-01 03:40:00,2015-01-01 03:41:00,2015-01-01 03:44:00
4,3730,LEA,C,RSP,109-171,CTM/1,2015-01-01 03:51:00,NaT,2015-01-01 04:17:00
...,...,...,...,...,...,...,...,...,...
517,7390,SAG,G,RBR,245,180,2015-01-15 16:11:00,2015-01-15 16:11:00,2015-01-15 16:12:00
518,7400,SAG,G,RBR,245,4200,2015-01-15 16:38:00,2015-01-15 16:39:00,2015-01-15 16:49:00
519,7400,G15,5,XRA,1-8A,C2.6,2015-01-15 16:39:00,2015-01-15 16:49:00,2015-01-15 17:05:00
520,7400,SAG,G,RNS,245,150,2015-01-15 16:51:00,2015-01-15 16:52:00,2015-01-15 17:05:00
521,7420,G15,5,XRA,1-8A,C1.2,2015-01-15 21:49:00,2015-01-15 21:55:00,2015-01-15 22:02:00

In [ ]:
# df.to_csv('goes_events_2015.csv', index=False)