In [ ]:
# Harsh code comments:
# - we should break out the get_events_df_from_goes() and get_events_df_for_date_range() functions to a new class,
#   maybe FileReadWrite
# - we need to clean up some columns so that in an events-df we just have two time columns: start_datetime and end_datetime
# - let's doublecheck that we're not throwing out any rows when we're reading the files since the initial discard rowcount
#   is hardcoded to 13

# to-to for vava:
# - add get_events_df_for_date_range() to FileReadWrite class

In [1]:
# import custom libraries
import sys
sys.path.append('.')
from file_read_write import FileReadWrite

directory_path = "/Users/aishwarya/Library/CloudStorage/GoogleDrive-aishsk6@vt.edu/My Drive/ML_project/2015/2015_events/"

df = FileReadWrite.get_df_from_from_date_range(directory_path, "20150101", "20150105")

In [2]:
df

    Event Begin   Max   End  Obs  Q Type Loc/Freq Particulars_a      Date
0    3690  0138  0139  0141  LEA  3  FLA   S08E54            SF  20150101
1    3700  0225  0227  0229  LEA  3  FLA   S08E54            SF  20150101
2    3710  0316  0316  0320  LEA  3  FLA   S08E54            SF  20150101
3    3720  0340  0341  0344  LEA  3  FLA   S08E54            SF  20150101
4    3730  0351  ////  0417  LEA  C  RSP  109-171         CTM/1  20150101
..    ...   ...   ...   ...  ... ..  ...      ...           ...       ...
168  4980  2200  2212  2241  HOL  3  FLA   S06W15            1F  20150105
169  4980  2203  2213  2220  G15  5  XRA     1-8A          C4.1  20150105
170  4980  2204  ////  2359  LEA  C  RSP  113-180         CTM/1  20150105
171  4990  2307  2320  2336  G15  5  XRA     1-8A          C4.4  20150105
172  4990  2332  2334  2338  HOL  3  FLA   S11W64            SF  20150105

[173 rows x 10 columns]

In [3]:
flare_event_df = df[['Event', 'Date', 'Begin', 'End', 'Type', 'Particulars_a']].copy()

In [4]:
flare_event_df

    Event      Date Begin   End Type Particulars_a
0    3690  20150101  0138  0141  FLA            SF
1    3700  20150101  0225  0229  FLA            SF
2    3710  20150101  0316  0320  FLA            SF
3    3720  20150101  0340  0344  FLA            SF
4    3730  20150101  0351  0417  RSP         CTM/1
..    ...       ...   ...   ...  ...           ...
168  4980  20150105  2200  2241  FLA            1F
169  4980  20150105  2203  2220  XRA          C4.1
170  4980  20150105  2204  2359  RSP         CTM/1
171  4990  20150105  2307  2336  XRA          C4.4
172  4990  20150105  2332  2338  FLA            SF

[173 rows x 6 columns]

In [ ]:
import pandas as pd

flare_event_df['Begin_Datetime'] = (pd.to_datetime(flare_event_df['Date'],format='%Y%m%d')
                        .add(pd.to_timedelta(flare_event_df['Begin'], 'h')))