In [ ]:
# to-to:

In [2]:
# import custom libraries
import sys
if "." not in sys.path:
    sys.path.append(".")
from file_read_write import FileReadWrite

directory_path = "/Users/aishwarya/Library/CloudStorage/GoogleDrive-aishsk6@vt.edu/My Drive/ML_project/2015/2015_events/"

df = FileReadWrite.get_df_from_from_date_range(directory_path, "20150101", "20151231")
df

,Event,Obs,Q,Type,Loc/Freq,Particulars_a,begin_datetime,max_datetime,end_datetime
0,3690,LEA,3,FLA,S08E54,SF,2015-01-01 01:38:00,2015-01-01 01:39:00,2015-01-01 01:41:00
1,3700,LEA,3,FLA,S08E54,SF,2015-01-01 02:25:00,2015-01-01 02:27:00,2015-01-01 02:29:00
2,3710,LEA,3,FLA,S08E54,SF,2015-01-01 03:16:00,2015-01-01 03:16:00,2015-01-01 03:20:00
3,3720,LEA,3,FLA,S08E54,SF,2015-01-01 03:40:00,2015-01-01 03:41:00,2015-01-01 03:44:00
4,3730,LEA,C,RSP,109-171,CTM/1,2015-01-01 03:51:00,NaT,2015-01-01 04:17:00
...,...,...,...,...,...,...,...,...,...
9409,9350,G15,5,XRA,1-8A,B7.0,2015-12-30 19:18:00,2015-12-30 20:07:00,2015-12-30 20:14:00
9410,9360,G15,5,XRA,1-8A,C4.3,2015-12-30 22:39:00,2015-12-30 22:45:00,2015-12-30 22:48:00
9411,9360,HOL,3,FLA,S24W39,1F,2015-12-30 22:42:00,2015-12-30 22:44:00,2015-12-30 22:53:00
9412,9360,PAL,U,RBR,2695,100,2015-12-30 22:43:00,2015-12-30 22:43:00,2015-12-30 22:43:00
9413,9370,LEA,C,RSP,025-180,III/1,2015-12-30 23:08:00,NaT,2015-12-30 23:09:00